@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

  --color-bg-primary: #1890FF;
  --color-bg-button: #1890FF;
  --color-bg-card-primary-section: #E6F7FF;
  --color-bg-card-secondy-section: #F5F5F5;
  --color-bg-card-tertiary-content: #FFFFFF;

  --color-bg-bord-card: #D9D9D9;

  --color-font-primary: #FFFFFF;
  --color-font-secondy:#262626;
  --color-font-tertiary: #7E7E7E;
  --color-font-quartenary:#000000; 
  --color-font-fifth:#BFBFBF;
  --color-font-card-result: #1890FF;
  --color-font-card-result-secondy: #737373;
  --color-link: #0029FF;
  --color-border: #D9D9D9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 40px;
}

.btn-container {
  display: flex;
}

.mr-top {
  margin-top: 10px;
}

.mr-bottom {
  margin-bottom: 10px;
}

.mr-top-card {
  margin-top: 54px;
}
