.card-filter-dsfilter {
    background-color: var(--bg-cards);
    width: 960px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-filter-dsfilter input {
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    font-size: 16px;
    color: var(--font-input);
}

.card-filter-dsfilter input:focus {
    outline: 1px solid var(--border-min-max);
    color: var(--font-input);
}

.card-filter-dsfilter input::placeholder {
    font-size: 16px;
    color: var(--font-min-max);
}