header {
    padding: 25px;
    background-color: var(--ds-color-bg-tertiary);
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--ds-color-text-primary);
    font-weight: 700;
}

nav h1 {
    font-size: 20px;
}

nav p {
    font-size: 12px;
}