header {
    padding: 0 20px;
    background-color: var(--ct-color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
}

header h1 {
    color: var(--ct-color-font-tertiary);
    font-size: 24px;
}