.dr-comment {
    max-width: 960px;
    height: 146px;
    padding: 25px 20px;
    margin-bottom: 25px;
    background-color: var(--ct-color-bg-primary);
    border: 1px solid var(--ct-color-bg-secondary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.dr-comment p {
    font-size: 16px;
    color: var(--ct-color-font-secondary);
}

@media (min-width: 1200px) {
    .dr-comment {
        width: 960px;
        height: 74px;
    }
}