@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --ds-color-bg-primary: #C2C2C2;
  --ds-color-bg-secondary: #FFFFFF;
  --ds-color-bg-tertiary: #55BC04;

  --ds-color-text-primary: #FFFFFF;
  --ds-color-text-secondary: #C2C2C2;
  --ds-color-text-tertiary: #55BC04;
  --ds-color-text-quaternary: #6F6F6F;

  --ds-color-border-primary: #C2C2C2;
  --ds-color-border-secondary: #55BC04;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, monospace;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--ds-color-bg-primary);
}

.ds-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}