@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap');

:root {
  --ct-color-bg-primary: #fff;
  --ct-color-bg-secondary: #F78B00;
  
  --ct-color-font-primary: #000000;
  --ct-color-font-secundary: #585858;
  --ct-color-font-tertiary: #00285F;
  --ct-color-font-quartenary: #fff;



}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--ct-color-bg-primary);
}

.ct-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

