@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --ct-color-bg-primary: #fff;
  --ct-color-bg-secondary: #f78b00;
  --ct-color-bg-tertiary: #00285f;
  --ct-color-bg-quaternary: #ededed;

  --ct-color-font-primary: #000;
  --ct-color-font-secondary: #585858;
  --ct-color-font-tertiary: #00285f;
  --ct-color-font-quaternary: #fff;
  --ct-color-font-placeholder: #a7a7a7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--ct-color-bg-primary);
}

.ct-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

