.button-dsfilter {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--ct-color-font-primary);
    background-color: var( --ct-color-bg-secondary);
    font-size: 16px;
    font-weight: 700;
}